.text-primary {
    color: var(--tgv-primary);
}

.bg-primary {
    background-color: var(--tgv-primary);
}

.bg-surface {
    background-color: var(--tgv-surface);
}

.text-muted {
    color: var(--tgv-text-muted);
}

.border-default {
    border-color: var(--tgv-border);
}

/*Headers*/
.border-default {
    border-color: var(--tgv-border);
}

.border-primary {
    border-color: var(--tgv-primary);
}

.focus\:border-primary:focus {
    border-color: var(--tgv-primary);
}